{% extends "templates/web.html" %}

{% block page_content %}
<!--Detailed view of each book-->
<div class="py-20 row">

    <div class="col-sm-2">
        <img src="{{ image }}" alt="{{ title }}">
    </div>

    <div class="col">
        <h1>{{ title }}</h1>
        <p class="lead">By {{ author }}</p>

        <div>
            {% if status == 'Available' %}

            <span class="badge badge-success"></span>

            {%endif%}
        </div>
    </div>

    <div class="mt-4">
        <div>Publisher: <strong>{{ publisher }}</strong></div>
        <div>ISNB: <strong>{{ isnb }}</strong></div>
    </div>

    <div>
        <p>{{ description }}</p>
    </div>
    
    <div>
        Status: <span class="badge bg-success">{{ status }}</span>
    </div>

</div>
{% endblock %}

<!-- this is a sample default web page template -->